*.swp
__pycache__/**
out/
core*
*.ipynb
# *.sh
*.bin
wandb
backup
*.pth
#*.txt
log/
*.json
*.xlsx
*.mp4
tools/*.jpg
tools/*.mp4
pre_training.py
*.pkl
*.pyc
*.__pycache__

# operational artifacts
*.log
*.pid
.env
temp.txt
pretrained_weight/

# venv / tooling
.venv/
.idea/
.vscode/
